<launch>

    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"></include>
    <arg name = "rosbagEnable" default= "false" />

    <node
        pkg="turtlebotNav"
        name="walker"
        type="walker"
        output="screen"
    />
    <node
        pkg="rosbag"
        name="record"
        type="record"
        args="-a -x /camera/(.*) -O $(find turtlebot_roomba)/results/roombatopics.bag"
        if="$(arg rosbagEnable)"
    />

</launch>
